$background-color: hsl(0, 0%, 100%);
$text-color: hsl(0, 0%, 6%);
$primary-color: hsl(230, 84%, 69%);
$secondary-color: hsl(219, 82%, 68%);
$accent-color: hsl(108, 97%, 63%);

$background: #fffffe;
$secondary: #90b4ce;
$tertiary: #094067;
$button: #3da9fc;
$paragraph: #5f6c7b;
$accent: #ef4565;

$background-alternate: #d8eefe;
