@use "variables";
@use "mixins";
.about-page {
    @include mixins.page-padding();
    height: 70vh;
    display: flex;
    cursor: default;
    > .about-description {
        box-sizing: border-box;
        flex: 11;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        gap: 5px;
        > #intro {
            font-size: 1.3rem;
            color: variables.$paragraph;
        }
        > #name {
            font-size: 4.5rem;
            color: variables.$tertiary;
        }
        > #description {
            color: variables.$paragraph;
            font-size: 1.6rem;
            > span {
                font-weight: bold;
                color: variables.$button;
            }
        }
        > #resume-button {
            @include mixins.button-base();
            > span {
                @include mixins.button-style();
                display: flex !important;
                align-items: center;
                gap: 0.2rem;
                > img {
                    width: 25px;
                    height: 25px;
                }
                &:hover {
                    @include mixins.button-hover();
                }
            }
        }
        > #social-links {
            display: flex;
            gap: 1rem;
            button {
                @include mixins.button-base();
                > span {
                    display: flex !important;
                    align-items: center;
                    gap: 0.2rem;
                    > img {
                        width: 25px;
                        width: 25px;
                    }
                    @include mixins.button-style();
                    &:hover {
                        @include mixins.button-hover();
                    }
                }
            }
        }
    }
    > .about-card {
        flex: 9;
        display: flex;
        justify-content: center;
        align-items: center;
        > #card {
            width: 55%;
            aspect-ratio: 1/1;
            position: relative;
            > #card-overlay {
                width: 100%;
                aspect-ratio: 1/1;
                background-color: variables.$secondary;
                display: flex;
                align-items: center;
                justify-content: center;
                > img {
                    height: 100%;
                    width: 100%;
                    object-fit: contain;
                }
                border-radius: 3px;
            }
            > #card-outline {
                top: 0;
                z-index: -1;
                position: absolute;
                width: 100%;
                aspect-ratio: 1/1;
                border: 2px solid variables.$tertiary;
                transform: translate(15%, 15%);
                border-radius: 3px;
            }
        }
    }
}
