@use "mixins";
@use "variables";
.contact-page {
    letter-spacing: 1px;
    // padding: 1rem;
    @include mixins.page-padding();
    display: flex;
    flex-direction: column;
    > h1 {
        padding: 0.6rem 0rem 0.6rem 0rem;
    }
    > p {
        padding: 0.5rem 0rem 0.5rem 0rem;
        border-bottom: 2px solid variables.$text-color;
        font-size: 1.1rem;
        color: grey;
        a {
            color: black;
        }
    }
    > .copyright {
        padding: 1rem;
        align-self: center;
    }
}
