@use "mixins";
@use "variables";
.education-section {
    letter-spacing: 1px;
    padding: 1rem;
    @include mixins.page-padding();
    @include mixins.border-shadow();
    border: 1px solid variables.$tertiary;
    background-color: variables.$background-alternate;
    > h1 {
        color: variables.$tertiary;
        font-size: 2.2rem;
    }
    > .education {
        display: flex;
        flex-direction: column;
        > .education-card {
            cursor: default;
            width: calc(50% + 2px);
            position: relative;
            padding-left: 2rem;
            padding-right: 2rem;
            padding-top: 1rem;
            padding-bottom: 1rem;
            &::after {
                content: "";
                width: 30px;
                border-radius: 100%;
                aspect-ratio: 1/1;
                background-color: variables.$accent;
                position: absolute;
            }
            &:hover::after {
                background-color: variables.$tertiary;
            }
            > div {
                padding: 0.5rem;
                border: 2px solid variables.$tertiary;
                border-radius: 5px;
                display: flex;
                flex-direction: column;
                gap: 3px;
                > #university {
                    color: variables.$tertiary;
                    font-weight: bold;
                }
                > #degree,
                #address {
                    color: variables.$paragraph;
                }
                > p {
                    display: flex;
                    align-items: center;
                    gap: 0.5rem;
                    > img {
                        aspect-ratio: 1/1;
                        width: 25px;
                    }
                }
            }
        }
    }
}
