@use "variables";
.education-card-start {
    align-items: flex-end;
    border-right: 4px solid variables.$button;
    &::after {
        top: 30%;
        right: -17px;
    }
    display: flex;
    justify-content: end;
}
.education-card-end {
    align-self: flex-end;
    border-left: 4px solid variables.$button;
    &::after {
        top: 30%;
        left: -17px;
    }
    display: flex;
}
