@use "variables";
@use "mixins";
.project-card {
    height: 65vh;
    display: flex;
    > img {
        object-fit: contain;
        width: 55%;
        padding: 1rem 0rem 1rem 0rem;
    }
    > .project-info {
        width: 45%;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 1rem;
        > h1 {
            font-size: 2.5rem;
            color: variables.$tertiary;
        }
        > P {
            color: variables.$paragraph;
            font-size: 1.1rem;
        }
        > ul {
            padding: 0px;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            align-content: center;
            color: variables.$tertiary;
            gap: 10px;
            font-size: 0.8rem;
        }
        > .tech-stack {
            display: flex;
            gap: 0.5rem;
            > .card {
                display: flex;
                align-items: center;
                gap: 5px;
                padding: 0.3rem;
                height: 35px;
                color: variables.$tertiary;
                border: 2px solid variables.$tertiary;
                border-radius: 3px;
                > * {
                    flex: 1;
                }
                > img {
                    height: 100%;
                }
            }
        }
        > .project-actions {
            display: flex;
            gap: 0.5rem;
            > a {
                > button {
                    @include mixins.button-base();
                    > span {
                        @include mixins.button-style();
                        display: flex !important;
                        align-items: center;
                        &:hover {
                            @include mixins.button-hover();
                        }
                    }
                }
            }
        }
    }
}
