@use "mixins";
@use "variables";
.skills-page {
    @include mixins.page-padding();
    @include mixins.border-shadow();
    cursor: default;
    letter-spacing: 1px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    background-color: variables.$background-alternate;
    > h2 {
        border-bottom: 2px solid variables.$tertiary;
        color: variables.$tertiary;
        padding-bottom: 0.5rem;
        font-size: 2.2rem;
    }
    > .tech-section {
        flex: 1;
        > h3 {
            padding: 0.3rem 0 0.3rem 0;
            color: variables.$tertiary;
        }
        > .cards {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 10px;
            > .card {
                background-color: variables.$background;
                @include mixins.border-shadow();
                border-radius: 0.4rem;
                height: 60px;
                padding: 0.4rem;
                display: flex;
                align-items: center;
                gap: 10px;
                font-size: 1.1rem;
                font-weight: 500;
                > .image-container {
                    height: 85%;
                    width: 20%;
                    border-radius: 0.2rem;
                    padding: 0.4rem;
                    background-color: rgb(144, 180, 206, 0.1) !important;
                    box-shadow:
                        rgba(9, 64, 103, 0.02) 0px 1px 3px 0px,
                        rgba(9, 64, 103, 0.15) 0px 0px 0px 1px;
                    > img {
                        height: 100%;
                        width: 100%;
                        object-fit: contain;
                    }
                }
            }
        }
    }
}
